extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/main-header.css")
	link(rel="stylesheet" href="/stylesheets/tiles.css")
	link(rel="stylesheet" href="/stylesheets/index.css")
block content
	-if(albums.length){
		div(class='main-header')
			h1 !!! THIS IS A TESTING WEBSITE !!!
		div(class='main-header')
			h1 Most Recent Albums
		div(id='newestAlbum' class="tile-container")
			- for(var i = 0; i < albums.length; i++){
				div(id=albums[i].albumTitle.split(' ').join('-') class="square")
					a(class='square-anchor' href='/album/' + albums[i].albumTitle.split(' ').join('-'))
						div(class="box-inner")
							img(src=albums[i].photos[0].photo class="image")
							div(class="overlay-bottom")
								div(class="overlay-text")=albums[i].albumTitle
			- }
	-}else{
		div(id="message" class="message-container")
			= message
	-}
	div(class='main-header')
		h1 Welcome to To Boldly Go!
	div(class='text-block')
		="To Boldly Go is a journal and photo-sharing website. The website was built as an on-going personal web development project. The journals entries and photos are mostly of my travels and interests including languages, food, trains and soccer games."
		br
		br
		="The photos in this website were taken at various times in the past with varying degree of quality. Most of the photos were taken with Nexus 5 smart phone camera and other point and shoot digital cameras. I am using Nikon 1 J5 as my primary camera from September, 2017 and onward."
		br
		br
		="The website is still in its infancy. Updates and improvements will be made over time."
				
	div(class='main-header')
		h1 About the Author
	div(id='author-content' class='text-block')
		div(class='thumbnail-container')
			img(class='thumbnail' src='/images/header/author.jpg')
		div(id='author-text')
			="My name is Minoru Nakano, currently based in Vancouver, BC, Canada."
			br
			="Some of my notable past travels and overseas stays include;"
			ul
				li="Teaching at a secondary school in Tanzania between 2008 and 2010"
				li="Overland crossing of South America in 2015 (Peru, Bolivia and Brazil)"
				li="Travelling around East and South East Asia in 2016 (Hong Kong, China, Vietnam, Cambodia, Thailand, Malaysia and Japan)"
				li="Learning Spanish in Guatemala in 2017" 
				
			="Riding trains, trying out local cuisines and learning different languages are what I enjoy the most about travelling. I speak English and Japanese, have limited working proficiency in Swahili, and have studied basic Portuguese and Spanish."
		