extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/template-header.css")
	link(rel="stylesheet" href="/stylesheets/tiles.css")
block content
	-if(albums.length){
		- var region = albums[0].region.split(' ').join('-');
		- var mainTitle = albums[0].region;
		- var remainingAlbums = albums.length;
		- var numRows = Math.ceil((albums.length - 2) / 4);
		- var index = 2;	
		div(id=continent class="tile-container")
			div(class="row")
				div(id='continent-title' class="rectangle")
					div(class="box-inner-rectangle")
						img(src="/images/tagPhotos/" + region + ".jpg" class="image portrait")
						div(class="continent-title")=mainTitle
				div(id=albums[0].albumTitle.split(' ').join('-') class="square")
					div(class="box-inner")
						img(src=albums[0].photos[0].photo class="image")
						div(class="overlay-bottom")
							div(class="overlay-text")=albums[0].albumTitle
				div(id=albums[1].albumTitle.split(' ').join('-') class="square")
					div(class="box-inner")
						img(src=albums[1].photos[0].photo class="image")
						div(class="overlay-bottom")
							div(class="overlay-text")=albums[1].albumTitle
			- remainingAlbums = remainingAlbums - index;
			- for(var i = 0; i < numRows; i++){
				div(class="row")
					- var ceiling = index + 4;
					- if(remainingAlbums > 0 && remainingAlbums < 4){
						- ceiling = index + remainingAlbums
					- }
					- for(index; index < ceiling; index++){
						div(id=albums[index].albumTitle.split(' ').join('-') class="square")
							div(class="box-inner")
								img(src=albums[index].photos[0].photo class="image")
								div(class="overlay-bottom")
									div(class="overlay-text")=albums[index].albumTitle
					- }
					- remainingAlbums = remainingAlbums - 4;
			- }

		h1.
			Albums
		ul
			each album, i in albums
				li
					div
						=album.albumTitle
					div
						=album.albumCategory
					div
						=album.country
					div
						=album.region
					div
						=album.albumDate
					div
						each photo, p in album.photos
							div
								=photo.photo.split('/').slice(-1)[0]
							div
								=photo.photoDescription
					div
						=album.publishedDate
						- var region = album.region.split(' ').join('-');
						- var albumTitle = album.albumTitle.split(' ').join('-');
					a(href="/deleteAlbum/#{album._id}/#{region}/#{albumTitle}") Delete
					a(href="/edit-form/#{album._id}") Edit
	-}else{
		div(id="message" class="message-container")
			= message
	-}