extends template
append stylesheets
	link(rel="stylesheet" href="/stylesheets/template-header.css")
	link(rel="stylesheet" href="/stylesheets/album-journal.css")
	link(rel="stylesheet" href="/stylesheets/photo-modal.css")
block content
	h2
		=album.albumTitle
	div
		div(class='album-details') 
			div(class='album-detail')
				- var date = new Date(album.publishedDate);
				<span>Published on: #{date.toISOString().split('T')[0]}</span>
			div(class='album-detail')
				span(class='album-attribute') Travelled on: 
					span(class='attribute') #{album.albumDate}
				span(class='album-attribute') <i class='fa fa-globe'></i> 
					span(class='attribute') 
						a(class='cursor' href="/region/" + album.region.split(' ').join('-')) #{album.region}
				span(class='album-attribute') <i class='fa fa-flag'></i>  
					span(class='attribute') 
						a(class='cursor' href="/country/" + album.country.split(' ').join('-')) #{album.country}
				span(class='album-attribute') <i class='fa fa-tags'></i>  
					- for(var i = 0; i < album.albumCategory.length; i++){
						span(class='attribute') 
							a(class='cursor' href="/category/" + album.albumCategory[i].split(' ').join('-')) #{album.albumCategory[i]}
					- }
		div(class='thumbnail-container')
			img(class="thumbnail cursor" src=album.photos[0].photo onclick="openModal('modal'); currentSlide(1)")
			div()
				a(class='cursor' onclick="openModal('modal'); currentSlide(1)") View Photos
		div(class='journal')
			=album.journal
	
	
	div(id='modal' class='modal')
		<span class="close cursor" onclick="closeModal('modal')">&times;</span>
		div(class="modal-content")
			div(id="slide-header")
				div(id="slide-header-content")
					div(id="slide-title")=album.albumTitle
					div(id="slide-count")="1 / " + album.photos.length
			- for(var i = 0; i < album.photos.length; i++){
				div(class="slides")
					div(class="photo-wrapper")
						img(src=album.photos[i].photo onclick="plusSlides(1)")
					div(class="photo-description")
						div(class="photo-text")=album.photos[i].photoDescription
			- }
			div(class='slide-arrow')
				<a class="prev cursor" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next cursor" onclick="plusSlides(1)">&#10095;</a>

